body {
  background-color: #fff;
  color: #14181b;
}

.filler {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scroll-vid {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}