:root {
  --dark: #191f23;
  --light: #fff;
}

body {
  background-color: var(--light);
  color: var(--dark);
  font-family: Quicksand, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

/**
Fix Firefox's bad default outline for non-form elements.
Firefox issue:
  https://bugzilla.mozilla.org/show_bug.cgi?id=1708244
Proposed fix for `tailwindcss` and `modern-normalize`:
  https://github.com/tailwindlabs/tailwindcss/issues/4769#issuecomment-867728491
*/
:focus-visible {
  outline-style: auto;
}

h1 {
  font-weight: 500;
}

svg {
  fill: var(--dark);
}

.flip-y {
  transform: scaleY(-1);
}

.info-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  max-width: 900px;
  margin: 0 auto;

  &__text {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;

    h1 {
      font-size: min(12vw, 4rem);
      text-transform: uppercase;
      margin-bottom: 1.5rem;
    }
  }

  &__image {
    flex: 1;
    width: 100%;
    height: 100%;
    max-height: 380px;
    max-width: 380px;
    margin: 0 auto;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &.bottom {
    flex-direction: column-reverse;
  }
}

nav {
  font-weight: 500;
  font-size: 2.5rem;

  * {
    margin-bottom: 1.5rem;
    text-align: center;
  }
}

@media (min-width: 650px) {
  .info-section,
  .info-section.bottom {
    flex-direction: row;
  }

  nav > * {
    text-align: start;
  }
}

#scroll-vid {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
